* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arapey', serif;
}

header {
    background-color: black;
}

li {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-branding {
    font-size: 5rem;
    text-decoration: none;
    color: white;

}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: gray;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-content {
    display: grid;

}

.weekday {
    color: black;
}

.weekday-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-title {
    text-align: center;
}

.page-item {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: calc(25% - 20px);
    /* Adjust as needed */
    margin: 10px;
    /* Add margin between items */
    max-width: 300px;
    /* Limit maximum width of each item */
}

.page-item-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.page-item-text {
    margin: 0;
}

@media (max-width:768px) {

    nav {
        flex-direction: row;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-branding-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Vertically center within the available space */
        margin: 0 auto;
        /* Center the container horizontally */
    }

    .nav-branding {
        font-size: 2rem;
        text-align: center;
    }

    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}