* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arapey', serif;
}

header {
    background-color: black;
}

li {
    list-style: none;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.nav-branding {
    font-size: 5rem;
    text-decoration: none;
    color: white;

}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: gray;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-content {
    display: grid;

}

.weekday {
    color: black;
}

.weekday-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.calendar-title {
    text-align: center;
}

.page-item {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 5px;
    width: calc(25% - 20px);
    /* Adjust as needed */
    margin: 10px;
    /* Add margin between items */
    max-width: 300px;
    /* Limit maximum width of each item */
}

.page-item-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
}

.page-item-text {
    margin: 0;
}

/*
FOOTER
*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.footer {
    position: relative;
    width: 100%;
    background: #121212;
    min-height: 100px;
    padding: 20px 50px;
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover {
    transform: translateY(-10px);
}

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url("/photos/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}


@media (max-width:768px) {

    nav {
        flex-direction: row;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .nav-branding-container {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        /* Vertically center within the available space */
        margin: 0 auto;
        /* Center the container horizontally */
    }

    .nav-branding {
        font-size: 2rem;
        text-align: center;
    }

    .hamburger {
        display: block;

    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}